<div class="col-md-12">
<div class="card">

    <img class="card-img-top" style="width:100%; height:350" data-src="..." src="<%= asset_path( 'image-placeholder.png' ) %>" alt="Card image cap">
    <div class="card-block">
    <h4 class="card-title">
        <%= article.title %>
    </h4>
    <p class="card-text"><%= article.body %></p>
    <%= link_to 'Read more', article_path(article), class: "btn btn-info" %>
    </div>
    <div class="card-block">
    <p class="card-text">
                <% article.tags_list.each do |tag| %>
                <span class="label label-pill label-success"><%=tag%></span>
                <% end %>
            </p>
        <span>Posted on <%= article.created_at.to_s(:short) %></span>
        <span style="padding-left: 20px" ><%= article.view_count %> <i style="vertical-align: middle" class="material-icons md-18">remove_red_eye</i></span>
        <span style="padding-left: 10px" ><%= article.comments_count %> <i style="vertical-align: middle" class="material-icons md-18">chat_bubble_outline</i></span>
    </div>
</div>
    
    
</div>
<!--
<div class="row">
    
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <h2><%= article.title %></h2>
                <p class="lead">
                    by <a href="index.php">Start Bootstrap</a>
                </p>
                <p><span class="glyphicon glyphicon-time"></span> Posted on August 28, 2013 at 10:00 PM</p>
                <hr>
                <p> <%= @markdown.render(article.body).html_safe %> </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                
                <p class="lead">
                    <%= link_to 'Edit', edit_article_path(article), class: "btn btn-warning" %>
                    <%= link_to 'Delete', article_path(article), class: "btn btn-danger",
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %>
                </p>
            </div>
        </div>
        
        <div class="row">
            <div class="row">
                <div class="col-xs-9">
                    <% article.comments.each do |comment| %>
                    <div>
                        <div><a><i class="fa fa-user"></i>&nbsp;<%=comment.user%></a>&nbsp;<%=comment.comment%></div>
                    </div>
                    <% end %>
                    
                </div>
            </div>
            <div class="row">
                <div class="col-xs-9">
                    <%= form_tag(new_article_comment_path(article.id), method:'get') do  %>
                    <div class="form-group">
                        <%= label_tag :name %><br>
                        <%= text_field_tag :name, nil, placeholder: "Enter your name here", class: "form-control" %>
                    </div>
                    <div class="form-group">
                        <%= label_tag :comment%><br>
                        <%= text_field_tag :comment, nil, placeholder: "Enter your comment here", class: "form-control" %>
                    </div>
                    <%= submit_tag "Comment", class: "btn btn-info-outline" %>
                    <%end%>
                </div>
            </div>
        </div>
        
        <br><br>
    </div>
</div>
<hr/> -->