<div class="row">
    <br>
    <div class="col-md-2 col-sm-3 text-center">
        <a class="story-img" href="#"><img src="//placehold.it/100" style="width:100px;height:100px" class="img-circle"></a>
    </div>
    <div class="col-md-10 col-sm-9">
        <h3><%= article.title %></h3>
        <div class="row">
            <div class="col-xs-9">
                <p> <%= @markdown.render(article.body).html_safe %> </p>
                <p class="lead">
                <%= link_to 'Edit', edit_article_path(article), class: "btn btn-warning" %>
                <%= link_to 'Delete', article_path(article), class: "btn btn-danger",
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
                </p>
            </div>
            <div class="row">
                <div class="col-xs-9">
                    <!--/stories-->
                    <% article.comments.each do |comment| %>
                    <div>
                        <div><a><i class="fa fa-user"></i>&nbsp;<%=comment.user%></a>&nbsp;<%=comment.comment%></div>
                    </div>
                    <% end %>
                    <!--/stories-->
                </div>
            </div>
            <div class="row">
                <div class="col-xs-9">
                    <%= form_tag(new_article_comment_path(article.id), method:'get') do  %>
                    <div class="form-group">
                        <%= label_tag :name %><br>
                        <%= text_field_tag :name, nil, placeholder: "Enter your name here", class: "form-control" %>
                    </div>
                    <div class="form-group">
                        <%= label_tag :comment%><br>
                        <%= text_field_tag :comment, nil, placeholder: "Enter your comment here", class: "form-control" %>
                    </div>
                    <%= submit_tag "Comment", class: "btn btn-info-outline" %>
                    <%end%>
                </div>
            </div>
        </div>
        <br><br>
    </div>
</div>
<hr/>